@import "tailwindcss";

@layer base {
  * {
    border-color: theme(--color-zinc-200);
  }

  :root {
    color-scheme: light;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      color-scheme: dark;
    }
  }
}
